:root {
    --dark-toggle-border: #d1d5da;
    --dark-toggle-bg: #fff;
    --dark-toggle-thumb-bg: #2f363d;
    --dark-svg-stroke: #d1d5da;
    --color-dark-mode-toggle-moon: #ffdf5d;
  --header-bg: #24292e;
  --header-form-bg: #24292e;
  --bg: #fff;
  --header-dropdown-bg: #fff;
  --header-dropdown-color: #24292e;
  --header-dropdown-border: #e1e4e8;
  --header-dropdown-shadow: rgba(149, 157, 165, 0.2);
  --tabbed-bg: #fff;
  --tabbed-link: #24292e;
  --tabbed-selected-link: #24292e;
  --tabbed-avatar-text: #24292e;
  --tabbed-active: #c9d1d9;
  --tabbed-hover-text: #24292e;
  --tabbed-counter-text: #24292e;
  --tabbed-counter-bg: rgba(209, 213, 218, 0.5);
  --tabbed-hover-border: #d1d5da;
  --tabbed-border: #e1e4e8;
  --border: #e1e4e8;
  --header-dropdown-status: #586069;
  --sidebar-img-bg: #fff;
  --sidebar-img-border: #e1e4e8;
  --sidebar-img-shadow: transparent;
  --sidebar-text-primary: black;
  --sidebar-text-secondary: #586069;
  --overview-text-primary: black;
  --overview-text-secondary: #586069;
  --sidebar-btn-color: #24292e;
  --sidebar-btn-bg: #fafbfc;
  --sidebar-btn-border:#e1e4e8;
  --sidebar-btn-shadow1: 0 1px 0 rgba(27, 31, 35, 0.04);
  --sidebar-btn-shadow2: inset 0 1px 0 hsla(0, 0%, 100%, 0.25);
  --sidebar-btn-hover-bg: #f3f4f6;
  --sidebar-btn-hover-border:rgba(27, 31, 35, 0.15);
  --overview-hover-text: #0366d6;
  --footer-svg: #d1d5da;
  --repo-shadow:inset 0 1px 0 rgba(225, 228, 232, 0.2);
  --repo-new-btn-bg: #2ea44f;
  --repo-new-btn-hover-bg: #2c974b;
  --repo-btn-new-svg: hsla(0, 0%, 100%, 0.8);
  --header-form-border: #444d56;
}